<div id="{$id}" class="mfuresumable">
	<a href="javascript:void(0)" id="{$id}-browse">Upravit</a>
	<span id="{$id}-progressvalue">0%</span>
	<a href="javascript:void(0)" id="{$id}-cancel">Zrušit</a>
</div>